{% extends 'base.html' %}
{% block title %} {{t}} {% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
{% endblock styles %}
{% block content %}
<main class="container">
        <div class="row">
           
  <!-- Product Table -->
  <div style="overflow-x:auto;">


    <h2>Sales Item:</h2>
    <a href="{% url 'sales.add' %}" class="btn btn-primary mt-2">Add New Sales</a>

      {% csrf_token %}

    
      <table class="table" id="example">

      <thead>
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Sub_Total</th>
          <th>Discount</th>
          <th>Total</th>
          <th>Vat</th>
          <th>Grand_total</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
 
        <tr>
          {% if not forms.instance.id %}
            {% include 'savesales.html' %}
          {% endif %}
        </tr>


        {% for a in Sales %}

        <tr>
          {% if forms.instance.id == a.id %}
              {% include 'savesales.html' %}
          {% else %}

          <td>{{ a.customer }}</td>
          <td>{{ a.product }}</td>
          <td>{{ a.quantity }}</td>
          <td>{{ a.rate }}</td>
          <td>{{ a.cost }}</td>
          <td>{{ a.discount }}</td>
          <td>{{ a.total }}</td>
          <td>{{ a.vat }}</td>
          <td>{{ a.gtotal }}</td>
          <td>{{ a.date }}</td>
          <td>
            <button formnovalidate name="edit" value="{{a.id}}" class="btn btn-sm btn-warning">Edit</button>
            <button formnovalidate onclick=" return confirm('do you want to delete?')" 
            name="delete" value="{{a.id}}" class="btn btn-sm btn-danger">Delete</button>
          </td>
          {% endif%}
        </tr>
        {% endfor %}
      </tbody>
  
    </table>
  </form>
  </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script>
    var table = new DataTable('#example');
</script>
{% endblock %}
