{% extends 'base.html' %}
{% block title %} {{title}} {% endblock%}
{% block content %}
<main class="container">
        <div class="row">
           
  <!-- Product Table -->
  <div style="overflow-x:auto;">

    <form method="GET" action="{% url 'sales' %}">
      <div class="form-group p-2">
          <input type="text" name="search" class="form-control" placeholder="Search by name">
          <button type="submit" class="btn btn-primary mt-2">Search</button>
      </div>
  </form>
    <h2>Sales Item:</h2>
    <table class="table table-responsive">

      <form method="post" action="{% url 'sales' %}" enctype="multipart/form-data">
        {% csrf_token %}


      <thead>
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Sub_Total</th>
          <th>Discount</th>
          <th>Total</th>
          <th>Vat</th>
          <th>Grand_total</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
 
        <tr>
          {% if not forms.instance.id %}
            {% include 'savesales.html' %}
          {% endif %}
        </tr>


        {% for a in products %}

        <tr>
          {% if forms.instance.id == product.id %}
              {% include 'savesales.html' %}
          {% else %}

          <td>{{ a.customer }}</td>
          <td>{{ a.product }}</td>
          <td>{{ a.quantity }}</td>
          <td>{{ a.rate }}</td>
          <td>{{ a.cost }}</td>
          <td>{{ a.discount }}</td>
          <td>{{ a.total }}</td>
          <td>{{ a.vat }}</td>
          <td>{{ a.gtotal }}</td>
          <td>{{ a.date }}</td>
          <td>
            <button formnovalidate name="edit" value="{{a.id}}" class="btn btn-sm btn-warning">Edit</button>
            <button formnovalidate onclick=" return confirm('do you want to delete?')" 
            name="delete" value="{{a.id}}" class="btn btn-sm btn-danger">Delete</button>
          </td>
          {% endif%}
        </tr>
        {% endfor %}
      </tbody>
    </form>
    </table>
  </div>
    </div>
</main>
{% endblock%}
