{% extends 'base.html' %}
{% block title %} {{t}} {% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
{% endblock styles %}
{% block content %}
              
<main class="container">
    <h1>Purchase Report:</h1>


    <div style=overflow-x:auto;>
      <a href="{% url 'purchase.add' %}" class="btn btn-primary mt-2">Add New Purchase</a>

        {% csrf_token %}

        <table class="table" id="example">

             

            <thead>
              <tr>
                <th>Product</th>
                <th>Vender</th>
                <th>Invoice NO.</th>
                <th>Number_Of_Items</th>
                <th>Price_Per_Unit</th>
                <th>Total</th>
                <th>Image</th>
                <th>Date</th>
                <th>Actions</th>
                 </tr>
           </thead>


        
            <tbody>
            <tr>
                {% if not forms.instance.id %}
                  {% include 'savepurchase.html' %}
                {% endif %}
              </tr>



            {% for a in Vender %}
            <tr>
                {% if forms.instance.id == a.id %}
                {% include 'savepurchase.html' %}
            {% else %}
              





                <td>{{ a.product }}</td>
                <td>{{ a.vendor }}</td>
                <td>{{ a.invoice }}</td>
                <td>{{ a.items }}</td>
                <td>{{ a.price }}</td>
                <td>{{ a.total}}</td>
                <td>{{ a.date}}</td>


                {% if not a.image %}
            <td> No Image Found </td>
          {% else %}
          <td>
            <img src="{{a.image.url}}" style="width: 50px;"/>
          </td>
          {% endif %}




                <td>
                    <button formnovalidate name="edit" value="{{a.id}}" class="btn btn-sm btn-warning">Edit</button>
                    <button formnovalidate onclick=" return confirm('do you want to delete?')" 
                    name="delete" value="{{a.id}}" class="btn btn-sm btn-danger">Delete</button>
                </td>
                {% endif%}

            </tr>
            {% endfor %}
           </tbody>
         
        </table>
      </form>
    </div>

</main>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script>
    var table = new DataTable('#example');
</script>
{% endblock %}