{%extends 'base.html'%}
{% block title %} {{t}} {% endblock %}

{% block content %}
              
<main class="container">
    <h1>Purchase Report:</h1>


    <div style=overflow-x:auto;>
       <table class="table">

              <form action="{% url 'purchase'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}


            <thead>
              <tr>
                <th>Product</th>
                <th>Vender</th>
                <th>Invoice NO.</th>
                <th>Number_Of_Items</th>
                <th>Price_Per_Unit</th>
                <th>Total</th>
                <th>Image</th>
                <th>Date</th>
                <th>Actions</th>
                 </tr>
           </thead>


        
            <tbody>
            <tr>
                {% if not forms.instance.id %}
                  {% include 'savepurchase.html' %}
                {% endif %}
              </tr>



            {% for a in purchases %}
            <tr>
                {% if forms.instance.id == a.id %}
                {% include 'savepurchase.html' %}
            {% else %}
              





                <td>{{ a.product }}</td>
                <td>{{ a.vendor }}</td>
                <td>{{ a.invoice }}</td>
                <td>{{ a.items }}</td>
                <td>{{ a.price }}</td>
                <td>{{ a.total}}</td>
                <td>{{ a.date}}</td>


                {% if not a.image %}
            <td> No Image Found </td>
          {% else %}
          <td>
            <img src="{{a.image.url}}" style="width: 50px;"/>
          </td>
          {% endif %}




                <td>
                    <button formnovalidate name="edit" value="{{a.id}}" class="btn btn-sm btn-warning">Edit</button>
                    <button formnovalidate onclick=" return confirm('do you want to delete?')" 
                    name="delete" value="{{a.id}}" class="btn btn-sm btn-danger">Delete</button>
                </td>
                {% endif%}

            </tr>
            {% endfor %}
           </tbody>
           </form>
        </table>
    </div>

</main>
{% endblock %}