{% extends 'base.html' %}
{% block title %} {{t}} {% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
{% endblock styles %}
{% block content %}

<main class="container">
    <h1>Customer Records Here</h1>
    <div style="overflow-x:auto;">
        <a href="{% url 'customer.add' %}" class="btn btn-primary mt-2">Add New Customer</a>

            {% csrf_token %}
            <table class="table" id="example">

           
              

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Company_Name</th>
                    <th>Email</th>
                    <th>Phone_No</th>
                    <th>Pan Number</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    {% if not forms.instance.id %}
                      {% include 'savecustomer.html' %}
                    {% endif %}
                  </tr>
        



                {% for a in customer %}
                <tr>
                    {% if forms.instance.id == a.id %}
                    {% include 'savecustomer.html' %}
                {% else %}



                    <td>{{ a.name }}</td>
                    <td>{{ a.address }}</td>
                    <td>{{ a.company_name }}</td>
                    <td>{{ a.email}}</td>
                    <td>{{ a.phone_no}}</td>
                    <td>{{ a.pan_number}}</td>
                    <td>{{ a.date}}</td>
                                 
                    <td>
                        <button formnovalidate name="edit" value="{{a.id}}" class="btn btn-sm btn-warning">Edit</button>
                        <button formnovalidate onclick=" return confirm('do you want to delete?')" 
                        name="delete" value="{{a.id}}" class="btn btn-sm btn-danger">Delete</button>>
                    </td>
          {% endif%}

                </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </form>


    </div>
</main>





{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script>
    var table = new DataTable('#example');
</script>
{% endblock %}